*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ft-cate {
    text-decoration: none;
    display: flex;
    gap:30px;
    font-size: 14px;
    white-space: nowrap;
}

.ft-cate a {
    color: #AAB4B8;
    padding: 10px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: #3E3E3F;
}

.ft-cate a:hover {
    text-decoration: none;
    border-color: #7c7c7e;
    color: azure;


}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.products .item-product {
    background-color: #323232;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.products .item-product:hover {
    box-shadow: -5px -5px 10px #5e5e5e ;
}
.item-product .prods-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}
.item-product img{
    width: 100%;
    height: auto;
}
.prods-group  li {
    background-color: #222324;
    padding: 10px;
    color: azure;
    border-radius: 8px;
    border-width: 0.5px;
    border: solid #323232;
    border-width: 0.5px;
}
.prods-group  li:hover {
    border: solid white;
    border-width: 0.5px;
}
.prods-info .name-prods {
    color: azure;
}
.price .price-new {
    color: azure;
    font-size: 18px;
    font-weight: bold;
}
.price .discount {
    color: rgb(189, 190, 190);
    text-decoration: line-through;
}
.price .percent {
    color: azure;  
}
.item-product  .notification {
    color: rgb(225, 93, 11);
}
.feedback{
    display: flex;
    justify-content: center;
}
.main-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: azure;
}
.main-form .title-feedback{
    color: black;
}
.main-form .icon-fb {
    display: flex;
    justify-content: center;
}
.icon-fb .icon-bad img,
.icon-fb .icon-smile img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.icon-fb .icon-bad span,
.icon-fb .icon-smile span {
    display: block;
    padding: 10px;
    padding-top: 0;
    font-size: 12px;
    color: black;
}
.icon-fb .icon-smile span{
    padding-top: 2px;
}
.ft-cate::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3E3E3F;
    border-radius: 5px;
}

.ft-cate::-webkit-scrollbar
{
	width: 4px;
    height: 5px;
	background-color: #3E3E3F;
}

.ft-cate::-webkit-scrollbar-thumb
{
    
    border-radius: 5px;
	background-color: #121212;
}  

@media only screen and (max-width: 840px) {
    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
    .ft-cate {
        overflow: auto;
    }
}