.main__header{
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 50;
}

.nav{
    height: 100%;
    background-image: linear-gradient(to bottom right, 
    black, rgb(45, 45, 45), rgb(131, 131, 255),
     black, black);
    color: white;
    width: 100%;
    margin: 0;
}


.nav__lef, .nav__center, .nav__right{
    height: 100%;
}

.nav__lef{
    display: flex;
    padding-left: 40px; 
}

.nav__lef-name span{
    font-size: 1.4rem;
    line-height: 55px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav__lef-name span:nth-child(1){
    color: aqua;
}

.nav__lef-name span:nth-child(2), 
.nav__lef-name span:nth-child(4){
    color: rgb(240, 228, 2);
}

.nav__lef-name span:nth-child(3){
    color: rgba(2, 240, 12, 1);
}

.nav__lef-name span:nth-child(5){
    color: rgba(240, 2, 231, 1);
    padding-right: 12px;
    border-right: 2.4px solid rgb(0, 255, 255);
}

.nav__lef-logo{
    width: 20%;
    height: 100%;
    padding-left: 6px;
}

.nav__lef-logo div{
    width: 70%;
    height: 100%;
}

.nav__center{
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.nav__center-item{
    color: white;
    width: 20%;
    line-height: 55px;
    text-align: center;
    font-size: 1rem;
}

.nav__center-item:hover{
    text-decoration: none;
    cursor: pointer;
    opacity: .6;
    color: black;
    background-color: rgba(255, 255, 255, 0.697);
}

.nav__center-item--active{
    color: aqua;
    text-decoration: underline;
    background-color: rgba(158, 158, 158, 0.242);
}

.nav__right{
    display: flex;
    padding-right: 55px;
}

.nav__right>div:nth-child(2){
    width: 16%;
    transform: translateY(8%);
    margin-left: 24%;
}

.nav__right>div:nth-child(2) div{
    padding-top: 100%;
    border-radius: 50%;
    width: 100%;
}

.nav__right-btns{
    display: flex;
    width: 30%;
    justify-content: space-around;
    height: 100%;
}

.nav__right-btn{
    line-height: 100%;
    width: 43%;
    height: 100%;
    padding-top: 8px;

}


.nav__right-btn i{
    background-color: #2f3033;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 50%;
}

.nav__right-control{
    height: 55px;
    width: 39%;
    text-align: left;
    padding-left: 12px;
    line-height: 52px;
    font-size: 1.2rem;
    font-weight: 500;
}




